.bg-noir
{
    background-color: #333;
    opacity: 0.8;
}
.col-noir
{
    color: #333;
    opacity: 0.8;
}
.hovar:hover
{
   	border-bottom: 2px solid  #333;
   	font-size: 15px;
   	font-weight: 700;
}

